<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="YandexToken" value="944b1e82560748ecbb6ca3e6cbec942e" />
    <add key="DbFile" value="IStorage.sdf" />
    <add key="DbTempDir" value="C:\TEMP" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>