<style>
    table, tr, td, th {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px;
    }
</style>
<body data-ng-app="APIModule">
    <div ng-controller="modalcontroller">
        <div id="tblSubs" ng-controller="APIController">
            <table>
                <tr>
                    <th>Symbol</th>
                    <th>Last Price</th>
                    <th>Change</th>
                    <th>%Change</th>
                    <th></th>
                </tr>
                <tbody data-ng-repeat="stock in stocks">
                    <tr>
                        <td>{{stock.CompanyName}}</td>
                        <td>{{stock.Price}}</td>
                        <td><span style="color: {{stock.Change>0 ? 'green' : 'red'}}">{{stock.Change}}</span></td>
                        <td><span style="color: {{stock.ChangePersentage>0 ? 'green' : 'red'}}">{{stock.ChangePersentage}}</span></td>
                        <td><button class="btn btn-default" type="button" ng-click="openModal()">Click to Open Modal</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>
</body>
<script src="~/Scripts/angular.js"></script>

<script src="~/Scripts/APIScripts/Module.js"></script>
<script src="~/Scripts/APIScripts/Service.js"></script>
<script src="~/Scripts/APIScripts/Controller.js"></script>
<script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/angular-route.min.js"></script>
<script src="~/Scripts/angular-animate.min.js"></script>
