<style>
    table, tr, td, th {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px;
    }
</style>
<body data-ng-app="APIModule">
        <div id="tblSubs">
            <table id="stocks">
                <tr>
                    <th>Symbol</th>
                    <th>Last Price</th>
                    <th>Change</th>
                    <th>%Change</th>
                    <th></th>
                </tr>
                    <tbody id="tableBody">
                    </tbody>
            </table>
            
</div>
</body>

