@model ShepherdCoAPI.Model.Stock
<div class="modal-body">
    <fieldset>
        <legend>Buy stock of @Model.Company</legend>
    </fieldset>
</div>
<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
<button type="submit" id="approve-btn" class="btn btn-danger">Buy</button>

<script type="text/javascript">
    $(function() {
        $('#approve-btn').click(function() {
                BuyStock($('#modal-container').modal('hide'), '@Model.StockId');
        });
        });
</script>


